@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

/* 로고 스타일 */
.header .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #004d00;
    text-decoration: none;
}

/* MyPage 링크 스타일 */
.header .header-mypage {
    font-size: 16px;
    color: #004d00;
    text-decoration: none;
}