
#side-panel {
    position: absolute; /* fixed에서 absolute로 변경 */
    width: 0px;
    height: 600px;
    background: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    box-sizing: border-box;
  	overflow-y: scroll; 
  	display: none;
}

.controls {
    z-index: 1;
}

#side-panel.active {
    width: 20%;
    display: block;
}


#map {
    height: 600px;
}


#side-panel::-webkit-scrollbar {
  display: none;
}