@charset "UTF-8";

.search-container {
		    display: flex;
		    justify-content: center; /* 가로 정렬 */
		    align-items: center; /* 세로 정렬 */
		    height: 10px; /* 원하는 높이를 설정 */
		    margin-top: 20px; /* 상단 여백 */
		}
		
		.search-container button {
			background-color: rgba(0, 77, 0, 0.8);
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .search-container input[type="text"] {
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 300px;
        }
        
        .search-bar {
		    display: flex;
		    align-items: center;
		    gap: 30px; /* 입력 필드와 버튼 간 간격 */
		}

		.route-creat{
        	float: right;
        	padding-right: 10%;
		}
		
		.route-creat button{
            height: 30px;
			background-color: rgba(0, 77, 0, 0.8);
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
		}