<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  interface UserMapper.java를 사용할 경우 -->
<mapper namespace="com.tastehill.myweb.mapper.OauthMapper">

	<resultMap id="memberMap" type="com.tastehill.myweb.member.MemberVO">
		<id     property="seqMember" 	column="seq_member" />
		<result property="email" 	column="email"/>
		<result property="nickname" column="nickname"/>
		<result property="pw" 	column="pw"/>
		<result property="profile" 	column="profile"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" 	column="updated_at"/>
		<result property="pinnedRoute" 	column="pinned_route"/>
		<result property="status" 	column="status"/>
        <association property="usersOauthVO" javaType="com.lec.oauth.vo.UsersOauthVO" resultMap="oauthResultMap"/>
	</resultMap>
    <!-- ResultMap for users_tbl and users_oauth -->
    <!-- 
    <resultMap id="userResultMap" type="com.lec.oauth.vo.UsersTblVO">
        <id property="userSeq" 			column="user_seq" />
        <result property="userEmail" 	column="user_email" />
        <result property="userPw" 		column="user_pw" />
        <result property="userName" 	column="user_name" />
        <result property="userGubun" 	column="user_gubun" />
        <result property="regdate" 		column="regdate" />
        <result property="provider" 	column="provider" />
    </resultMap>
     -->
	<resultMap id="oauthResultMap" type="com.lec.oauth.vo.UsersOauthVO">
	        <id property="seqMember" 				column="seq_member" />
	        <result property="picture" 			column="picture" />
	        <result property="accessToken" 	column="access_token" />
	        <result property="refreshToken" 	column="refresh_token" />
	        <result property="updatedAt" 			column="updated_at" />
	</resultMap>
	
	<!-- OAuth :: 기존회원/신규회원 구분을 위한 DB조회 -->
	<select id="findMemberByEmail" parameterType="String"  resultMap="memberMap">
		SELECT * FROM member WHERE email = #{email}
	</select>
    
    <!-- 
    <insert id="insertUsersTbl" parameterType="com.lec.oauth.vo.UsersTblVO" useGeneratedKeys="false">
        <selectKey keyProperty="userSeq" resultType="int" order="BEFORE">
            SELECT users_tbl_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO users_tbl (
            user_seq, user_email, user_pw, user_name, provider
        ) VALUES (
            #{userSeq}, #{userEmail}, #{userPw}, #{userName}, #{provider}
        )
    </insert> 
    -->
    
    <!-- OAuth :: 신규회원 토큰저장  -->
    <insert id="insertMemberOauth" parameterType="com.lec.oauth.vo.UsersOauthVO">
        INSERT INTO oauth (
            seq_member, picture, access_token, refresh_token, updated_at
        ) VALUES (
            #{seqMember}, #{picture}, #{accessToken}, #{refreshToken}, sysdate
        )
    </insert>
     
    <!-- OAuth :: 기존회원:토큰갱신  
	<update id="updateUserOauthTbl" parameterType="com.lec.oauth.vo.UsersOauthVO">
		UPDATE users_oauth 
		SET picture=#{picture}, access_token = #{accessToken}, refresh_token = #{refreshToken} 
		WHERE user_seq = #{userSeq} 
	</update>
	-->
</mapper>


  