<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tastehill.myweb.mapper.PlaceMapper">

<!-- place.result에 들어갈 vo5개 맵 -->
    <resultMap id="geometryMap" type="com.tastehill.myweb.place.GeometryVO" >
        <result property="seq_place" column="g_seq_place" />
        <result property="place_id" column="g_place_id"/> 
        <association property="location" resultMap="locationMap"/>
    </resultMap>
    
    <resultMap id="locationMap" type="com.tastehill.myweb.place.LocationVO" >
        <result property="seq_place" column="l_seq_place" />
        <result property="place_id" column="l_place_id"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
    </resultMap>

    <resultMap id="photoMap" type="com.tastehill.myweb.place.PhotoVO" >
        <result property="seq_place" column="ph_seq_place" />
        <result property="place_id" column="ph_place_id"/>
        <result property="photo_reference" column="photo_reference"/>
        <result property="photo_url" column="photo_url"/>
    </resultMap>

    <resultMap id="openingHoursMap" type="com.tastehill.myweb.place.OpeningHoursVO" >
        <result property="seq_place" column="oh_seq_place" />
        <result property="place_id" column="oh_place_id"/>
        <collection property="weekday_text" resultMap="weekdayTextMap"/>
    </resultMap>
    
    <resultMap id="weekdayTextMap" type="com.tastehill.myweb.place.WeekdayTextVO" >
        <result property="seq_place" column="w_seq_place"/>
        <result property="place_id" column="w_place_id"/> 
        <result property="weekday_text" column="weekday_text"/>
    </resultMap>


    <!-- 위에 맵 합쳐서 result에 넣을 맵 -->
    <resultMap id="resultInnerMap" type="com.tastehill.myweb.place.ResultVO" >
        <result property="place_id" column="p_place_id"/>
        <result property="name" column="name"/>
        <result property="rating" column="rating"/>
        <result property="formatted_address" column="formatted_address"/>
        <association property="opening_hours" resultMap="openingHoursMap"/>
        <association property="geometry" resultMap="geometryMap"/>
        <collection property="photos" resultMap="photoMap"/>
    </resultMap>

    <!-- placeVO에 박을 데이터 -->
    <resultMap id="placeDetailMap" type="com.tastehill.myweb.place.PlaceDetailVO" >
        <result property="seqPlace" column="p_seqPlace"/>
<!--         <result property="status" column="status"/> -->
        <association property="result" resultMap="resultInnerMap"/>
    </resultMap>
    
    
    
    <!-- 장소 검색시 사진 포함된 resultMap (PlaceVO에 사진 정보(photo_url)를 포함할 수 있도록 설정) -->
    <resultMap id="placeWithPhotoMap" type="com.tastehill.myweb.place.PlaceVO">
    <result property="seq_place" column="seq_place"/>
    <result property="place_id" column="place_id"/>
    <result property="name" column="name"/>
    <result property="formatted_address" column="formatted_address"/>
    <result property="rating" column="rating"/>
    <association property="photos" resultMap="photoMap">
        <result property="seq_place" column="seq_place"/>
        <result property="place_id" column="place_id"/>
        <result property="photo_reference" column="photo_reference"/>
        <result property="photo_url" column="photo_url"/>
    </association>
	</resultMap>
    
   
<select id="selectDetailOne" resultMap="placeDetailMap">
    		SELECT  
		    p.seq_place as p_seqPlace, 
		    p.place_id as p_place_id, 
		    p.name as name, 
		    p.rating as rating, 
		    p.formatted_address as formatted_address, 
		    g.place_id as g_place_id, g.seq_place as g_seq_place,
		    l.place_id as l_place_id, l.seq_place as l_seq_place, l.lat as lat, l.lng as lng,
		    ph.photo_reference as photo_reference, ph.photo_url as photo_url, 
		    ph.place_id as ph_place_id, ph.seq_place as ph_seq_place,
		    oh.place_id as oh_place_id, oh.seq_place as oh_seq_place,
		    w.place_id as w_place_id, w.seq_place as w_seq_place, w.weekday_text as weekday_text
		FROM place p
    LEFT JOIN geometry g ON p.place_id = g.place_id
    LEFT JOIN location l ON p.place_id = l.place_id
    LEFT JOIN photo ph ON p.place_id = ph.place_id
    LEFT JOIN opening_hours oh ON p.place_id = oh.place_id
    LEFT JOIN weekday_text w ON oh.place_id = w.place_id
		WHERE p.place_id = #{placeId}
</select> 
    
       <!-- 장소 기반 검색 기능 -->
    <select id="searchPlaces" parameterType="string" resultMap="placeWithPhotoMap">
	  
select res.p_place_id as place_id,
       res.p_SEQ_PLACE as SEQ_PLACE,
       res.FORMATTED_ADDRESS as formatted_address,
       res.RATING as rating,
       res.PHOTO_URL as photo_url
from (SELECT 
        p.PLACE_ID AS p_place_id,
        p.SEQ_PLACE AS p_seq_place,
        p.NAME,
        p.FORMATTED_ADDRESS,
        p.RATING,
        ph.PHOTO_URL
	    FROM 
            Place p, 
            (
                SELECT place_id, PHOTO_URL
                FROM photo
                ORDER BY place_id
            ) ph
 where p.place_id = ph.place_id and p.NAME LIKE '%' || #{query} || '%'
 OR p.FORMATTED_ADDRESS LIKE '%' || #{query} || '%')  res
 where rownum = 1
    </select>



    
    
    <!-- placeId 기준으로 placeVO 정보 가져오기-->
    <select id="selectPlaceByPlaceId" resultType="com.tastehill.myweb.place.PlaceVO">
        SELECT seq_place, place_id, name, rating, formatted_address
    	FROM place
    	WHERE place_id = #{placeId}
    </select>



<!-- 인서트 -->


    <!-- PLACE 데이터 삽입 -->
    <insert id="insertPlace">
		<selectKey keyProperty="seqPlace" resultType="int" order="AFTER">
		    SELECT SEQ_PLACE.CURRVAL FROM DUAL
		</selectKey>
        INSERT INTO PLACE (SEQ_PLACE, NAME, RATING, PLACE_ID, FORMATTED_ADDRESS)
        VALUES (SEQ_PLACE.NEXTVAL, #{result.name}, #{result.rating}, #{result.place_id}, #{result.formatted_address})
    </insert>

    <!-- PHOTO 데이터 삽입 -->
	<insert id="insertPhoto" parameterType="map">
	    INSERT INTO PHOTO (PHOTO_REFERENCE, PHOTO_URL, SEQ_PLACE, PLACE_ID)
	    VALUES (#{photoReference}, #{photoUrl}, #{seqPlace}, #{placeId})
	</insert>

    <!-- OPENING_HOURS 데이터 삽입 -->
    <insert id="insertOpeningHours" parameterType="map">
        INSERT INTO OPENING_HOURS (SEQ_PLACE, PLACE_ID)
        VALUES (#{seqPlace}, #{placeId})
    </insert>

    <!-- WEEKDAY_TEXT 데이터 삽입 -->
    <insert id="insertWeekdayText" parameterType="map">
        INSERT INTO WEEKDAY_TEXT (SEQ_PLACE, WEEKDAY_TEXT, PLACE_ID)
        VALUES (#{seqPlace}, #{weekday_text}, #{placeId})
    </insert>

    <!-- GEOMETRY 데이터 삽입 -->
    <insert id="insertGeometry" parameterType="map">
        INSERT INTO GEOMETRY (SEQ_PLACE, PLACE_ID)
        VALUES (#{seqPlace}, #{placeId})
    </insert>

    <!-- LOCATION 데이터 삽입 -->
    <insert id="insertLocation" parameterType="map">
        INSERT INTO LOCATION (SEQ_PLACE, PLACE_ID, LAT, LNG)
        VALUES (#{seqPlace}, #{placeId}, #{lat}, #{lng})
    </insert>

</mapper>